body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  height: 10vh;
  background-color: rgb(209, 210, 212);
}

section {
  height: 76vh;
  width: 100vw;
  margin: 2vh 0;
  display: flex;
}

.a {
  background-color: rgb(140, 198, 63);
  height: 100%;
  width: 60vw;
  order: 1;
}

.b {
  background-color: rgb(11, 148, 68);
  width: 20vw;
  order: 0;
}

.c {
  background-color: rgb(245, 238, 49);
  width: 20vw;
  order: 2;
}

footer {
  height: 10vh;
  background-color: rgb(209, 210, 212);
}

@media screen and (max-width: 992px) {
  section {
    display: flex;
    flex-wrap: wrap;
  }

  .a {
    background-color: rgb(140, 198, 63);
    height: 60%;
    width: 100%;
    order: 0;
  }

  .b {
    background-color: rgb(11, 148, 68);
    height: 40%;
    width: 50%;
    order: 1;
  }

  .c {
    background-color: rgb(245, 238, 49);
    height: 40%;
    width: 50%;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  section {
    display: flex;
    flex-wrap: wrap;
  }

  .a {
    background-color: rgb(140, 198, 63);
    height: 50%;
    width: 100%;
    order: 0;
  }

  .b {
    background-color: rgb(11, 148, 68);
    height: 25%;
    width: 100%;
    order: 1;
  }

  .c {
    background-color: rgb(245, 238, 49);
    height: 25%;
    width: 100%;
    order: 2;
  }
}
