body {
  margin: 0;
  height: 100vh;
}

header {
  background-color: rgb(209, 210, 212);
  height: 10%;
}

section {
  height: 76%;
  width: 100%;
  margin: 2vh 0;
  display: flex;
}

.left {
  height: 100%;
  width: 80%;
}

.a {
  background-color: rgb(239, 64, 54);
  height: 50%;
  width: 100%;
}

.b {
  background-color: rgb(252, 176, 64);
  height: 50%;
  width: 100%;
}

.c {
  background-color: rgb(245, 238, 49);
  height: 100%;
  width: 20%;
}

footer {
  background-color: rgb(209, 210, 212);
  height: 10%;
}

@media screen and (max-width: 992px) {
  .left {
    width: 50%;
  }

  .c {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  section {
    height: 75%;
    width: 100%;
    margin: 2.5vh 0;
    display: flex;
    flex-direction: column;
  }
  .left {
    height: 66.6%;
    width: 100%;
  }

  .c {
    height: 33.3%;
    width: 100%;
  }
}
